In [808]:
import pandas as pd
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction import FeatureHasher

In [809]:
data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_train.csv" )

In [810]:
insurance_data = data

In [811]:
insurance_data.head()

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP002305,Female,No,0,Graduate,No,4547,0.0,115.0,360.0,1.0,Semiurban,1
1,1,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Rural,1
2,2,LP002086,Female,Yes,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban,0
3,3,LP001136,Male,Yes,0,Not Graduate,Yes,4695,0.0,96.0,NaN,1.0,Urban,1
4,4,LP002529,Male,Yes,2,Graduate,No,6700,1750.0,230.0,300.0,1.0,Semiurban,1

In [812]:
insurance_data.isna().sum()

Unnamed: 0            0
Loan_ID               0
Gender               10
Married               1
Dependents            9
Education             0
Self_Employed        29
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           16
Loan_Amount_Term     13
Credit_History       43
Property_Area         0
Loan_Status           0
dtype: int64

In [813]:
insurance_data = insurance_data.dropna()

In [814]:
insurance_data.corr()

,Unnamed: 0,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
Unnamed: 0,1.000000,0.006200,0.068575,-0.065501,-0.019435,-0.018335,0.047522
ApplicantIncome,0.006200,1.000000,-0.085755,0.504397,-0.025685,-0.076768,-0.037624
CoapplicantIncome,0.068575,-0.085755,1.000000,0.182372,-0.004226,-0.036569,-0.047018
LoanAmount,-0.065501,0.504397,0.182372,1.000000,0.055095,-0.057763,-0.056931
Loan_Amount_Term,-0.019435,-0.025685,-0.004226,0.055095,1.000000,0.037315,0.017478
Credit_History,-0.018335,-0.076768,-0.036569,-0.057763,0.037315,1.000000,0.522784
Loan_Status,0.047522,-0.037624,-0.047018,-0.056931,0.017478,0.522784,1.000000

In [815]:
# from sklearn import preprocessing 

# onehotencoder = preprocessing.OneHotEncoder()

# def onehotencoding(columns, data):
#     for col in columns:
#         print(col)
#         X = onehotencoder.fit_transform(data[col].values.reshape(-1,1)).toarray()
# #To add this back into the original dataframe 
#         dfOneHot = pd.DataFrame(X, columns = [col+'_'+str(int(i)) for i in range(data[col].max()+1)]) 
#         data = pd.concat([data, dfOneHot], axis=1)
# #droping the country column 
#         data = data.drop([col], axis=1)
#     return data
#printing to verify

In [816]:
# columns = ['sex', 'cp', 'fbs', 'restecg','exang', 'slope','ca','thal']

# insurance_data = onehotencoding(columns, insurance_data);


# insurance_data.head()
insurance_data['Gender'] = insurance_data['Gender'].astype('category').cat.codes
insurance_data['Married'] = insurance_data['Married'].astype('category').cat.codes
insurance_data['Education'] = insurance_data['Education'].astype('category').cat.codes
insurance_data['Self_Employed'] = insurance_data['Self_Employed'].astype('category').cat.codes
insurance_data['Property_Area'] = insurance_data['Property_Area'].astype('category').cat.codes
insurance_data['Dependents'] = insurance_data['Dependents'].astype('category').cat.codes
insurance_data['Loan_ID'] = insurance_data['Loan_ID'].astype('category').cat.codes

# vectorizer = FeatureHasher(input_type='string')

# test_data['Loan_ID'] = vectorizer.transform(test_data['Loan_ID'])

# from sklearn.preprocessing import StandardScaler

# standardScaler = StandardScaler()
# columns_to_scale = ['ApplicantIncome','CoapplicantIncome']
# insurance_data[columns_to_scale] = standardScaler.fit_transform(insurance_data[columns_to_scale])

C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\HUZAIFA\miniconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [817]:
# from sklearn.feature_extraction.text import HashingVectorizer

# vectorizer = HashingVectorizer(n_features=20)
# insurance_data = pd.get_dummies(insurance_data, columns = ['sex', 'cp', 'restecg', 'exang', 'slope'], drop_first=True)
# insurance_data['Product Name'] = vectorizer.transform(insurance_data['Product Name']).toarray()
# insurance_data = insurance_data.drop(columns = ['oldpeak', 'slope', 'ca', 'thal', 'fbs', 'restecg', 'exang'])

X_train = insurance_data.drop(['Loan_Status','Unnamed: 0'], axis=1)


y_train = insurance_data['Loan_Status']

X_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,249,0,0,0,0,0,4547,0.0,115.0,360.0,1.0,1
1,132,1,1,3,1,1,5703,0.0,130.0,360.0,1.0,0
2,205,0,1,0,0,0,4333,2451.0,110.0,360.0,1.0,2
4,295,1,1,2,0,0,6700,1750.0,230.0,300.0,1.0,1
5,107,1,1,0,1,1,4344,736.0,87.0,360.0,1.0,1

In [818]:
import sklearn
from sklearn.ensemble import RandomForestClassifier
from imblearn import ensemble
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.ensemble import GradientBoostingClassifier
from imblearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier

from sklearn.neural_network import MLPClassifier

# clf = RandomForestClassifier(class_weight='balanced', max_features=10,
#                        min_samples_split=3, random_state=0) previous

# clf = RandomForestClassifier(class_weight='balanced',n_estimators= 700,bootstrap=True,
#  max_depth=8,
#  max_features=10,
#  random_state=0,
#  min_samples_leaf=3,
#  min_samples_split=3) 15.76

# clf = RandomForestClassifier(class_weight='balanced',n_estimators= 700,bootstrap=True,
#  max_depth=6,
#  max_features=10,
#  random_state=0,
#  min_samples_leaf=3,
#  min_samples_split=3) 
clf = ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
                     oob_score=False, random_state=2728, verbose=0,
                     warm_start=False)

# clf = RandomForestClassifier(bootstrap=True,
#             class_weight='balanced',
#             criterion='gini',max_depth=10 max_features=10, max_leaf_nodes=None,
#             min_impurity_decrease=0.0, min_impurity_split=None,
#             min_samples_leaf=3, min_samples_split=3,
#             min_weight_fraction_leaf=0.0, n_estimators=10500,
#             oob_score=True,
#             random_state=0,
#             verbose=0, warm_start=False)

# clf = RandomForestClassifier(bootstrap=True,
#             class_weight='balanced',
#             criterion='gini',max_depth=10, max_features=10, max_leaf_nodes=None,
#             min_impurity_decrease=0.0, min_impurity_split=None,
#             min_samples_leaf=3, min_samples_split=3,
#             min_weight_fraction_leaf=0.0, n_estimators=2200,
#             oob_score=True,
#             random_state=0,
#             verbose=0, warm_start=False)

# clf = ensemble.BalancedRandomForestClassifier(bootstrap=True,
#             class_weight='balanced',
#             criterion='entropy',max_depth=50, max_features=10, max_leaf_nodes=None,
#             min_impurity_decrease=0.0,
#             min_samples_leaf=3, min_samples_split=3,
#             min_weight_fraction_leaf=0.0, n_estimators=700,
#             random_state=0,
#             verbose=0, warm_start=False)

# over = SMOTE(sampling_strategy='minority',random_state=2) # 
# #under = RandomUnderSampler(sampling_strategy=0.2) : we are avoid under sampling of non fraud data, to avoid removing data: this worked well in this case!
# steps = [('o', over)] # only do oversampling
# pipeline = Pipeline(steps=steps)
# X_train, y_train = pipeline.fit_resample(X_train, y_train)
# clf = RandomForestClassifier(bootstrap=True,
#             class_weight='balanced',
#             criterion='entropy',max_depth=10, max_features=10, max_leaf_nodes=None,
#             min_impurity_decrease=0.0, min_impurity_split=None,
#             min_samples_leaf=3, min_samples_split=3,
#             min_weight_fraction_leaf=0.0, n_estimators=700,
#             oob_score=True,
#             random_state=25,
#             verbose=0, warm_start=False)
# # from sklearn.neural_network import MLPClassifier
# clf = GaussianNB(var_smoothing=1)
# olver{‘newton-cg’, ‘lbfgs’, ‘
# clf = RandomForestClassifier(random_state=10)

# from sklearn.tree import DecisionTreeClassifier
# from sklearn.neighbors import KNeighborsClassifier

# clf = KNeighborsClassifier(n_neighbors=23)
# clf = DecisionTreeClassifier(random_state=1)

# clf = LogisticRegression()
# clf = LogisticRegression(random_state=0, solver="newton-cg", max_iter=5000)

# clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(10000), random_state=1)

# clf = ensemble.EasyEnsembleClassifier(n_estimators=100, base_estimator=None, warm_start=False, sampling_strategy='auto', replacement=False, n_jobs=1, random_state=None, verbose=0)
# clf = ensemble.BalancedBaggingClassifier(base_estimator=None, n_estimators=10000, max_samples=0.1, max_features=10, bootstrap=True, bootstrap_features=False, oob_score=True, warm_start=False, sampling_strategy='auto', replacement=False, n_jobs=10, random_state=42, verbose=0)

clf.fit(X_train, y_train)

ExtraTreesClassifier(n_estimators=50, n_jobs=-1, random_state=2728)

In [819]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_test.csv')
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban
1,LP001488,Male,Yes,3+,Graduate,No,4000,7750.0,290.0,360.0,1.0,Semiurban
2,LP002138,Male,Yes,0,Graduate,No,2625,6250.0,187.0,360.0,1.0,Rural
3,LP002284,Male,No,0,Not Graduate,No,3902,1666.0,109.0,360.0,1.0,Rural
4,LP002328,Male,Yes,0,Not Graduate,No,6096,0.0,218.0,360.0,0.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...
118,LP002683,Male,No,0,Graduate,No,4683,1915.0,185.0,360.0,1.0,Semiurban
119,LP002054,Male,Yes,2,Not Graduate,No,3601,1590.0,NaN,360.0,1.0,Rural
120,LP002757,Female,Yes,0,Not Graduate,No,3017,663.0,102.0,360.0,NaN,Semiurban
121,LP002582,Female,No,0,Not Graduate,Yes,17263,0.0,225.0,360.0,1.0,Semiurban
122,LP001616,Male,Yes,1,Graduate,No,3750,0.0,116.0,360.0,1.0,Semiurban

In [ ]:
# test_data = test_data.drop(['Age'], axis=1)
# test_data['Agency'] = test_data['Agency'].astype('category').cat.codes
# test_data['Agency Type'] = test_data['Agency Type'].astype('category').cat.codes
# test_data['Distribution Channel'] = test_data['Distribution Channel'].astype('category').cat.codes
# test_data['Destination'] = test_data['Destination'].astype('category').cat.codes
# test_data['Gender'] = test_data['Gender'].astype('category').cat.codes

# # test_data['Product Name'] = test_data['Product Name'].astype('category').cat.codes

# from sklearn.feature_extraction.text import HashingVectorizer
test_data['Gender'] = test_data['Gender'].astype('category').cat.codes
test_data['Married'] = test_data['Married'].astype('category').cat.codes
test_data['Education'] = test_data['Education'].astype('category').cat.codes
test_data['Self_Employed'] = test_data['Self_Employed'].astype('category').cat.codes
test_data['Property_Area'] = test_data['Property_Area'].astype('category').cat.codes
test_data['Dependents'] = test_data['Dependents'].astype('category').cat.codes
test_data['Loan_ID'] = test_data['Loan_ID'].astype('category').cat.codes

# test_data[columns_to_scale] = standardScaler.fit_transform(test_data[columns_to_scale])

# vectorizer = HashingVectorizer(n_features=20)
# test_data['Loan_ID'] = vectorizer.transform(test_data['Product Name']).toarray()
# columns = ['ApplicantIncome','CoapplicantIncome']
# # test_data = test_data.drop(columns =columns)
# # test_data = onehotencoding(columns, test_data);
# test_data[columns_to_scale] = standardScaler.fit_transform(test_data[columns_to_scale].astype('float32'))
# test_data = pd.get_dummies(test_data, columns = ['sex', 'cp', 'restecg', 'exang', 'slope'], drop_first=True)

# def clean_dataset(df):
#     assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
#     df.dropna(inplace=True)
#     indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
#     return df[indices_to_keep].astype(np.float64)

# test_data = clean_dataset(test_data)
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(360.0)
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].mean())
test_data['Credit_History'] = test_data['Credit_History'].fillna(0)
# print(test_data['Loan_Amount_Term'].value_counts())
# print(test_data['LoanAmount'].value_counts())
# print(test_data['Credit_History'].value_counts())
# test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].median())
y_pred = clf.predict(test_data)
# test_data[columns_to_scale].max()
# test_data.isna().sum()
test_data['Loan_Amount_Term'].value_counts()
# test_data['LoanAmount'].mean()
# test_data['Credit_History'].mode()

In [821]:
import numpy as np
np.savetxt('results.csv', y_pred, delimiter=',', header='prediction',fmt='%i')

In [822]:
# from numpy import mean
# from sklearn.datasets import make_classification
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import RepeatedStratifiedKFold
# from sklearn.tree import DecisionTreeClassifier
# from imblearn.pipeline import Pipeline
# from imblearn.over_sampling import SMOTE
# from imblearn.under_sampling import RandomUnderSampler

# # values to evaluate
#     # define pipeline
# model = RandomForestClassifier(bootstrap=True,
#             class_weight='balanced',
#             criterion='gini',max_depth=10, max_features=10, max_leaf_nodes=None,
#             min_impurity_decrease=0.0, min_impurity_split=None,
#             min_samples_leaf=3, min_samples_split=3,
#             min_weight_fraction_leaf=0.0, n_estimators=700,
#             oob_score=True,
#             random_state=0,
#             verbose=0, warm_start=False)
# over = SMOTE(sampling_strategy=0.1, k_neighbors=7)
# under = RandomUnderSampler(sampling_strategy=0.5)
# steps = [('over', over), ('under', under), ('model', model)]
# pipeline = Pipeline(steps=steps)
#     # evaluate pipeline
# cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# scores = cross_val_score(pipeline, X_train, y_train, scoring='roc_auc', cv=cv, n_jobs=-1)
# score = mean(scores)
# print('> k=%d, Mean ROC AUC: %.3f' % (k, score))
# model.fit(X_train, y_train)
# y_pred = model.predict(test_data)

# np.savetxt('results1.csv', y_pred, delimiter=',', header='prediction',fmt='%i')